$font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

$black: #000;
$blue: #06a8de;
$blue-gray: #4c76a8;
$bronze: #e09765;
$dark-gray: #666;
$gold: #e4ac43;
$gray: #999;
$green: #87c352;
$lavender: #a28fc1;
$light-blue: #aad3e1;
$light-gray: #d3d3d3;
$mid-dark-gray: #333;
$mid-gray: #666;
$mid-gray2: #ccc;
$orange: #f59743;
$papaya: #f1765d;
$peach: #f2b793;
$pink: #f0c;
$purple: #825475;
$red: #e34743;
$satsuma: #f8c350;
$silver: #d1d1d1;
$yellow: #ff0;
$white: #fff;

$stroke-width: 3px;
