@import '../styles/_variables';

.ranking-badge-background {
  fill: $gray;
  stroke:$mid-gray2;
  stroke-width: 3px;

  text {
    fill: $black;
    font-weight: bold;
    text-anchor: middle;
  }
}

.gold {
  fill: $gold;
  stroke: $satsuma;
}
.silver {
  fill: $silver;
  stroke: $white;
}
.bronze {
  fill: $bronze;
  stroke: $peach;
}
