@import '../styles/_variables';

.timeseries-legend-icon {

}

.bar,
.clusteredBar,
.differenceBar,
.stackedBar {
  fill: $green;
}

.area,
.line {
  stroke: $green;
  stroke-width: $stroke-width;
}

.plot {
  fill: $green;
  stroke: $white;
  stroke-width: $stroke-width;
}
