@import '../styles/_variables';

.horizontal-bar-background {

  opacity: 0.35;
  &:hover {
    opacity: 0.45;
  }

  .horizontal-bar-background-interaction-rect {
    opacity: 0;
  }

  .horizontal-bar-background-fill {
    fill: $mid-gray;
  };
}
