@import '../styles/_variables';

.ranking-badge-background {
  fill: $gray;
  stroke:$mid-gray2;
  stroke-width: 3px;

  text {
    fill: $black;
    font-weight: bold;
    text-anchor: middle;
  }
}

/* move to colors.scss */
.gold {
  fill: #e4ac43;
  stroke: #f8c350;
}
.silver {
  fill: #d1d1d1;
  stroke: $white;
}
.bronze {
  fill: #e09765;
  stroke: #f2b793;
}
