
$black: #000;
$blue: #06a8de;
$blue-gray: #4c76a8;
$dark-gray: #666;
$gray: #999;
$green: #87c352;
$lavender: #a28fc1;
$light-blue: #aad3e1;
$light-gray: #f6f6f6;
$mid-gray: #666;
$orange: #f59743;
$papaya: #f1765d;
$pink: #f0c;
$purple: #825475;
$red: #e34743;
$yellow: #ff0;
$white: #fff;
