// --------------------
//
// Global
//
// --------------------

svg {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  fill: #fff;
  font-size: 18px;
}

svg text {
  dominant-baseline: middle;
}

// --------------------
//
// Horizontal bar chart
//
// --------------------

.horizontal-bar {
  background-color: #ff00cc;
}

.horizontal-bar-background {
  opacity: 0.35;
}

.horizontal-bar-background:hover {
  opacity: 0.45;
}

.horizontal-bar-background-fill {
  fill: #666;
};

.horizontal-bar-background-hit-area {
  opacity: 0;
}

.horizontal-bar-chart {}

.horizontal-bar-container {}

.horizontal-bar-content {
  pointer-events: none;
}

.horizontal-bar-content-icon {}

.horizontal-bar-content-label {}

.horizontal-bar-detail {
  pointer-events: none;
}

.horizontal-bar-detail-icon {}

.horizontal-bar-detail-label {}

// --------------------
//
// Components
//
// --------------------

.ranking-badge-background {
  fill: #999;
  stroke: #ccc;
  stroke-width: 3px;
}

.ranking-badge-text {
  fill: #000;
  font-weight: bold;
  text-anchor: middle;
}

.gold {
  fill: #e4ac43;
  stroke: #f8c350;
}

.silver {
  fill: #d1d1d1;
  stroke: #fff;
}

.bronze {
  fill: #e09765;
  stroke: #f2b793;
}
