@import
  'charts/horizontal-bar-chart',
  'charts/timeseries-chart',
  'components/area-series',
  'components/axis-label',
  'components/bar-series',
  'components/clip-shape',
  'components/clustered-bar-series',
  'components/difference-bar-series',
  'components/difference-bar',
  'components/divider',
  'components/horizontal-bar-background',
  'components/horizontal-bar-content',
  'components/horizontal-bar-defs',
  'components/horizontal-bar-detail',
  'components/horizontal-bar-icon',
  'components/horizontal-bar',
  'components/horizontal-grid-lines',
  'components/interaction-surface',
  'components/label',
  'components/line-marker',
  'components/line-series',
  'components/linear-axis',
  'components/plot-point',
  'components/plot-series',
  'components/ranking-badge',
  'components/rounded-rect',
  'components/stacked-bar-series',
  'components/svg-image',
  'components/tick-label',
  'components/time-axis',
  'components/timeseries-group',
  'components/timeseries-legend',
  'components/timeseries-legend-icon',
  'components/timeseries-legend-item',
  'components/timeseries-legend-label',
  'components/timeseries-legend-readout',
  'components/vertical-bar';

.chart {
  text {
    dominant-baseline: text-before-edge;
    fill: $black;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light',
      'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 12px;
  }
}
